body {
    margin: 0;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
  }
  
  canvas {
    border: 1px solid white;
  }
   
  .parent-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    border: 3px solid rgb(30, 255, 0);
  }